<div class="container">
    <div class="col-lg-12">

        <div class="col-lg-4 registerSection">
            <div class="col-lg-12">
                <h1>LOGIN</h1>
            </div>
            <form>
                <div class="input-group">
                    <span class="input-group-addon">Email</span>
                    <input type="text" #eid="ngModel" class="form-control" name="email" [(ngModel)]="email" placeholder="Your Email Here" required>
                </div>
                <div *ngIf="eid.touched && eid.invalid" class="red">
                    <div *ngIf="eid.errors.required"> Email is Mandatory </div>
                    <div *ngIf="eid.errors.pattern"> Enter Valid Email </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Password</span>
                    <input type="password" #pass="ngModel" class="form-control" name="password" [(ngModel)]="password" placeholder="Your Password Here"
                        required>
                </div>

                <div *ngIf="pass.touched && pass.invalid" class="red">
                    <div *ngIf="pass.errors.required"> Password is Mandatory </div>
                </div>
                <button type="button" class="col-lg-4 btn btn-success" (click)="login()">Login</button>
                <button type="button" class="col-lg-4 btn btn-success pull-right" [routerLink]="['/dashboard/home']">Register</button>


            </form>
        </div>

        <div class="col-lg-8">
            <div class="col-lg-12 text-center">
                <h1>Property Area</h1>
            </div>
            <div class="col-lg-6 noPadding" *ngFor="let i of [1,2,3,4]">
                <img src="../../assets/bunglow.jpg" height="180" width="300" class="borderForImages" />
            </div>
        </div>
    </div>
</div>